@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
    background-color: #E3D6D6; 
    font-family: 'General Sans', sans-serif;
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .head-text {
    @apply bg-gradient-to-r from-[#222] via-[#444] to-[#666] bg-clip-text text-transparent font-bold sm:text-5xl text-4xl;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }

  .nav-li {
    @apply text-neutral-400 hover:text-white font-generalsans max-sm:hover:bg-black-500 max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-gray-800 hover:text-black; /* 让文字颜色更清晰 */
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 bg-[#CFA9A3] backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#444] from-60% via-[#666] via-60% to-[#888] to-100% bg-clip-text text-transparent;
  }

  /* button component */
  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300  transition-all active:scale-95 text-white mx-auto;
  }

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }

  /* hero section */
  .hero_tag {
    @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-generalsans font-black !leading-normal;
  }

  /* about section */
  .grid-container {
    @apply grid grid-cols-3 gap-10 items-stretch;
  }

  .grid-container > div {
    min-width: 300px; /* 让每个模块的宽度更均匀 */
  }

  .container {
    @apply flex flex-col justify-between h-full p-10;
  }

  .flexible-section {
    @apply flex flex-col justify-between h-full;
  }


  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-black font-generalsans;
  }

  .grid-subtext {
    @apply text-gray-800; /* 让文本更深 */
  }

  .grid-container, .container {
    @apply bg-[#E3D6D6] border-[#D8CACA] shadow-md rounded-lg p-6;
  }

  /* projects section  */
  .arrow-btn {
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
  }

  .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  }

  /* clients section */
  .grid-container, .container {
    @apply bg-[#E3D6D6] border-[#D8CACA] shadow-md rounded-lg p-6;
  }

  .client-content {
    @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
  }

  /*  work experience section */
  .work-container {
    @apply bg-[#E3D6D6] border-[#DED1D1] shadow-md rounded-lg p-6;
  }

  .work-canvas {
    @apply bg-[#E3D6D6] border-[#DED1D1] shadow-md rounded-lg p-6;
  }  

  .work-content {
    @apply bg-[#E3D6D6] border-[#DED1D1] shadow-md rounded-lg p-6;
  }

  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5 transition-all ease-in-out duration-500 cursor-pointer hover:bg-[#D8CACA] rounded-lg sm:px-5 px-2.5;
  }

  .work-content_logo {
    @apply w-16 h-16 bg-[#E3D6D6] border-[#DED1D1] shadow-md rounded-lg flex justify-center items-center object-contain;
  }

  .work-content_bar {
    @apply bg-[#E3D6D6] border-[#DED1D1] shadow-md rounded-lg;
  }

  /* contact section */
  .contact-container {
    @apply bg-[#E3D6D6] border-[#DED1D1] shadow-md rounded-lg p-6;
  }

  .field-label {
    @apply text-lg text-white-600;
  }

  .field-input {
    @apply bg-[#E3D6D6] border-[#DED1D1] shadow-md rounded-lg p-6;
  }

  .field-btn {
    @apply bg-[#E3D6D6] border-[#DED1D1] shadow-md rounded-lg p-6;
  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
